h1 {font-size: 50px; margin-bottom: 15px;text-align: center;}
    
    
    



img {border: 5px solid orange; box-shadow: 2px 2px 2px black;margin: 10px;}
    
    
    


body {background-color: darkgrey;}

#DUNYAFORESTContainer {text-align: center;}
    
p {font-size: 30px; text-align: center;}

h1, p {color: black;margin-right: 50px;}
    
    
    
